@tailwind base;
@tailwind components;
@tailwind utilities;
.bg{
    background-image: url(/src/Frame.svg);
    background-repeat: no-repeat; 
    background-size: cover;
}
.as{
    border-top-right-radius: 100px;
}