.grid1{
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: 410px 220px;
}
.col{
    grid-column: 2/4;
}
.row{
    grid-row: 1/3;
}
.gridd{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 480px 220px;
}
.griddd{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 580px 220px;
}